$background-color-cities: #494e4c;
$background-color-button: #ff0000;

$header-color-font: #ff0000;
$header-color-font-shadow: #524f4f;
$header-color-temp-shadow: #863333;

$city-information-border: #ff0000;
$city-information-hour-font: #c24f4f;

$city-primary-color: #000000;
$city-secondary-color: #ffffff;

$city-navigation-font-color: #ffe600;

$footer-font-copyright-color: #ffffff;
$footer-font-links-color: #ffffff;

$searchbar-border-color: #ffffff;
$searchbar-background-color: #ffffff;
$searchbar-shadow-color: #ff000080;
$searchbar-window-font-color: #000000;

$main-background-color: #1b3e61;
