$main-font-color: #ffffff;
$main-background-color: #1b3e61;
$main-icon-color: #d2d4e9;

$background-cities-color: #494e4c;
$background-button-color: #ff0000;

$header-font-color: #ff0000;
$header-font-shadow-color: #863333;

$city-information-border: #ff0000;
$city-information-hour-font: #c24f4f;
$city-primary-color: #000000;
$city-secondary-color: #ffffff;
$city-navigation-font-color: #ffe600;

$searchbar-border-color: #ffffff;
$searchbar-background-color: #ffffff;
$searchbar-shadow-color: #ff000080;
$searchbar-window-font-color: #000000;

$city-airquality-border-color: #ff0000;

$footer-font-copyright-color: #ffffff;
$footer-font-links-color: #ffffff;
