$index-font-color: #ffffff;
$index-background-color: #242424;
$index-link-font-color: #c0c0c0;
$index-link-hover-color: #ff0000;
$index-media-font-color: #213547;
$index-media-background-color: #ffffff;
$index-media-link-font-color: #ff0000;

$main-font-color: #ffffff;
$main-background-color: #1b3e61;
$main-icon-color: #d2d4e9;

$header-font-shadow-color: #000000;

$city-item-font-color: #000000;
$city-information-border: #586679;
$city-primary-color: #000000;
$city-secondary-color: #ffffff;
$city-navigation-font-color: #ffe600;

$city-header-font-color: #ffffff;
$city-header-font-shadow-color: #252525;

$city-header-icon-color: #ffffff;
$city-header-icon-shadow-high-color: #ff0000;
$city-header-icon-shadow-low-color: #0026ff;
$city-airquality-border-color: #586679;

$cities-background-color: #494e4c;
$cities-item-font-shadow-color: #f5f5f5;
$cities-background-button-color: #ff0000;
$cities-font-button-color: #ffffff;

$searchbar-border-color: #ffffff;
$searchbar-background-color: #ffffff;
$searchbar-shadow-color: #533e3e;
$searchbar-window-font-color: #000000;
$searchbar-button-hover-color: #2468e7;
$searchbar-button-hover-font-color: #ffffff;
$searchbar-iconbutton-hover-background-color: #e2e2e2;
$searchbar-iconbutton-hover-font-color: #ff0000;

$iconbutton-font-color: #d2d4e9;
$iconbutton-icon-white: #d2d4e9;
$iconbutton-icon-red: #ff0000;
$iconbutton-icon-green: #00ff00;
$iconbutton-icon-black: #000000;

$footer-font-copyright-color: #ffffff;
$footer-font-links-color: #ffffff;
