.city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: brown;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__navigation {
    // background-color: aqua;
    height: 5%;
  }

  &__header {
    // color: #000000;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 2px solid red;
    border-radius: 30px;
    margin: 0 auto;
    width: fit-content;
    // backdrop-filter: blur(20px);
    padding: 1rem;
    font-size: 3rem;

    & p {
      font-size: 1rem;
    }

    &-location {
      color: #ff0000;
      text-shadow: 2px 2px #524f4f;
      font-size: 1.5rem;
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;

      & .icon {
        width: 80px;
      }
    }

    &-temp {
      // font-size: 3rem;
      color: #000000;
      text-shadow: 1px 1px #979191;

      &::after {
        content: "°";
      }

      &--night {
        // font-size: 3rem;
        color: #ffffff;
        text-shadow: 1px 1px #000000;

        &::after {
          content: "°";
        }
      }
    }

    &-weathertext {
      font-size: 1.2rem;
      color: #000000;
      text-shadow: 1px 1px #695c5c;

      &--night {
        font-size: 1.2rem;
        color: #ffffff;
        text-shadow: 1px 1px #000000;
      }
    }
  }

  &__information {
    // background-color: rgb(115, 255, 0);
    height: 100%;

    &-overview {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: fit-content;
      width: 90%;
      // background-color: #ff0000;
      margin: 0 auto;
      backdrop-filter: blur(30px);
      padding: 1rem 1rem;
      border-radius: 30px;
    }

    &-header {
      height: fit-content;
      width: 100%;
      border-bottom: 2px solid #ff0000;
      // background-color: greenyellow;
      line-height: 1.3rem;

      &-text {
        color: #000000;

        &--night {
          color: #ffffff;
        }
      }

      & p {
        margin: 0.2rem;
      }
    }

    &-timeline {
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 2px;
      height: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0.5rem 0;
      // padding: 5px;
      // scrollbar-width: none;
      // background-color: cadetblue;

      &-hour {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: #695c5c;
        // background-color: transparent;
        min-width: 64px;
        height: fit-content;
        line-height: 1.2rem;
      }

      &-text {
        color: #000000;

        &--night {
          color: #ffffff;
        }
      }
    }

    // &-timeline::-webkit-scrollbar {
    //   display: none;
    // }
  }
}
