.city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: brown;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__navigation {
    // background-color: aqua;
    height: 5%;
  }

  &__header {
    // background-color: red;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // border: 2px solid red;
    border-radius: 30px;
    margin: 0 auto;
    width: fit-content;
    backdrop-filter: blur(20px);
    padding: 2rem;

    &-location {
      color: #ff0000;
      font-size: 1.5rem;
    }

    &-temp {
      font-size: 3rem;
    }

    &-temp::after {
      content: "°";
    }

    &-weathertext {
      color: #cccccc;
    }
  }

  &__information {
    // background-color: rgb(115, 255, 0);
    height: 100%;
  }
}
