.city {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // background-color: brown;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;

  &--night {
    color: #ffffff;
  }

  &__center {
    align-items: center;
  }
}
