@import "./../../styles/colors";

.city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $city-primary-color;

  &--night {
    color: $city-secondary-color;
  }

  &__center {
    align-items: center;
  }
}
