@import "../../styles/colors";

.searchbar {
  height: fit-content;

  &__wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }

  &__input-field {
    font-size: 1.3rem;
    border: 1px solid $searchbar-border-color;
    padding: 0.3rem;
  }

  &__search-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $searchbar-background-color;
    width: 100%;
    height: fit-content;
    top: 38px;
    z-index: 3;
    box-shadow: 0px 0px 2px 2px $searchbar-shadow-color;
    color: $searchbar-window-font-color;

    button {
      // margin: 0.2rem;
      // padding: 0.5rem;
      background-color: transparent;
      border: none;
      width: 100%;
      font-size: 1.5rem;
      color: $searchbar-window-font-color;
      cursor: pointer;
    }

    button:hover {
      background-color: $searchbar-button-hover-color;
      color: $searchbar-button-hover-font-color;
    }
  }

  &__city-link {
    background-color: transparent;

    .iconButton {
      font-size: 0.8rem;
    }

    .iconButton:hover {
      background-color: $searchbar-iconbutton-hover-background-color;
      color: $searchbar-iconbutton-hover-font-color;

      .iconButton__icon {
        color: $searchbar-iconbutton-hover-font-color;
      }
    }
  }
}
