@import "./../styles/colors";

.cities-item {
  position: relative;
  width: 95%;
  min-height: 8rem;
  background-color: $background-color-cities;

  &__delete {
    position: absolute;
    right: 0%;

    button {
      padding: 5px;
      background-color: $background-color-button;
    }
  }
}
