@import "./../styles/colors";

.cities-item {
  position: relative;
  width: 95%;
  background-color: $background-cities-color;

  &__delete {
    position: absolute;
    right: 0%;

    button {
      padding: 5px;
      background-color: $background-button-color;
    }
  }
}
