@import "./../styles/colors";

.city-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 110px;
  width: 100%;
  background-size: cover;
  color: #000000;

  &--night {
    color: $city-secondary-color;
  }

  &__icon {
    width: 80px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    gap: 1rem;
  }

  &__city-name-country {
    display: flex;
    flex-direction: column;
    width: 180px;
  }

  &__temp {
    font-size: 2.5rem;
  }
}
