@import "./../styles/colors";

.city-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $city-navigation-font-color;
  padding: 0.5rem;

  &__icon {
    cursor: pointer;
  }
}
