.city__information {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;

  &-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 90%;
    margin: 0 auto;
    backdrop-filter: blur(20px);
    padding: 1rem;
    border-radius: 30px;
    margin-bottom: 1rem;

    &-header {
      height: fit-content;
      width: 100%;
      border-bottom: 2px solid #ff0000;
      line-height: 1.3rem;
      font-size: 1.2rem;

      & p {
        margin: 0.2rem;
      }
    }

    &-timeline {
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 2px;
      height: 100%;
      overflow-x: auto;
      // overflow-y: hidden;

      padding: 0.5rem 0;

      &-hour {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 64px;
        height: fit-content;
        line-height: 1.2rem;

        & p {
          margin: 0;
        }

        & p:nth-child(1) {
          color: #c24f4f;
          font-weight: 800;
        }
      }
    }
  }

  &-forecast {
    height: fit-content;
    width: 90%;
    margin: 0 auto;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 1rem;
    // margin-bottom: 1rem;

    &-header {
      height: fit-content;
      border-bottom: 2px solid #ff0000;
      padding: 0.2rem;
      font-size: 1.2rem;

      margin: 0 auto;

      & p {
        margin: 0.2rem;
      }
    }

    &-items {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & p {
        margin: 0.2rem;
      }
    }

    &-day {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: fit-content;
      border-bottom: 1px solid #ff0000;
      width: 100%;
      margin: 0 auto;

      & p {
        min-width: 3rem;
      }

      & .icon {
        width: 60px;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      // justify-content: start;
      width: 100%;

      & p {
        display: inline-block;
        min-width: 6rem;
        line-height: 1.2rem;
      }
    }

    &-temperatur,
    &-astro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      // align-items: center;
      gap: 0.5rem;
      // text-shadow: 1px 1px #524f4f;
      // background-color: #c24f4f;

      & p {
        display: inherit;
        margin: 0;
        justify-content: center;
        align-items: center;
        // font-size: 1.3rem;
        line-height: 1.5rem;
        gap: 0.5rem;
      }
    }
  }
}
