$footer-font-copyright-color: #ffffff;

.footer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  height: fit-content;
  height: 8%;

  &__links {
    display: inherit;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }

  &__copyright {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    color: $footer-font-copyright-color;

    & p {
      margin: 0;
    }
  }
}
