.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgb(27, 62, 97);
  // background-image: url("/conditionImages/day/partly_cloudy_day.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;

  &__header {
    display: inherit;
    // background-color: aqua;
    height: 8%;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;

    & button {
      border: none;
      background-color: transparent;
    }
  }

  &__search-bar {
    // margin: 1rem 0;
    height: 8%;
    // background-color: bisque;
  }

  &__cities-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    // background-color: blueviolet;
    height: 100%;
    scrollbar-width: none;
    // overflow-y: scroll;
    overflow-y: auto;
  }
}
