@import "../../styles/colors";

.iconButton {
  font-size: 1rem;
  font-family: inherit;
  padding: 0.2rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $iconbutton-font-color;

  &__icon {
    vertical-align: middle;
    padding-right: 0.2rem;

    &--white {
      color: $iconbutton-icon-white;
    }

    &--red {
      color: $iconbutton-icon-red;
    }

    &--green {
      color: $iconbutton-icon-green;
    }

    &--black {
      color: $iconbutton-icon-black;
    }
  }
}
